
UniversidadGrupo48/nbproject/private/private.properties
/UniversidadGrupo48/build/
UniversidadGrupo48/nbproject/private/private.properties
*.properties
UniversidadGrupo48/nbproject/project.properties
